@page{
    margin: 3cm 0.5cm 1.5cm 0.5cm;
}

@font-face{
    font-family:"Montserrat";
    src: url('{{ storage_path("fonts\Montserrat-Light.ttf") }}') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family:"Montserrat";
    src: url('{{ storage_path("fonts/Montserrat-Regular.ttf") }}') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family:"Montserrat";
    src: url('{{ storage_path("fonts/Montserrat-Bold.ttf") }}') format('truetype');
    font-weight: 700;
    font-style: normal;
}


#header{
    position: fixed;
    top: -3cm;
    left: 0cm;
}

.imgheader{
    float: left;
    width: 3cm;
}
.infoheader{
    float: left;
    margin-left: 1cm;
}
#footer{
    position: fixed;
    bottom: -1.5cm;
    margin: 0;
    left: 0cm;
    width: 100%;
    background-color: rgb(58, 131, 195);
}

.textfooter{
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.hijo{
    width: 2cm;
    height: 1cm;
    margin: 0.2cm;
    background-color: yellow;
}

.light {
    font-family: "Montserrat";
    font-weight:100;
}
.regular {
    font-family: "Montserrat";
    font-weight:400;
}
.bold{
    font-family: "Montserrat";
    font-weight:700;
}

.main{
    display: flex;
}

.dato {
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
}

.dato label {
    font-weight: bold;
}

.dato-contenido {
    /* width: 40%; */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    display: inline;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
}

.encabezado {
    background-color: rgb(58, 131, 195);
    padding: 10px;
    text-align: left;
}

.fila {
    padding: 10px;
    border-bottom: 1px solid rgb(100, 100, 241);
}
.yellow {
    background-color: rgb(241, 241, 109);
    border-radius: 5px;
    color:black;
}
.red {
    background-color: rgb(241, 123, 123);
    border-radius: 5px;
    color:black;
}
.blue {
    background-color: rgb(102, 102, 243);
    border-radius: 5px;
    color:black;
}
.green {
    background-color: rgb(95, 243, 95);
    border-radius: 5px;
    color:black;
}
